/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-regular-webfont.ttf);
}
@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-light-webfont.ttf);
}
@font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-lightitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Plain Light";
}

html,
body {
    background-color: #151515;
    height: 100%;
    color: white;
    cursor: none;
    overflow: hidden;
}
::-moz-selection {
    background-color: yellow;
    color: #000;
}
::selection {
    background-color: yellow;
    color: #000;
}

/* //! cursor */
.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
    z-index: 9999999999;
}

/* //! loader */
#loader {
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 9;
    padding: 25vh 10vw;
}

.line {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes anime {
    0% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

@keyframes anime {
    0% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    height: auto;
    position: relative;
    background-color: #151515;
}

/* //! page:1 */
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 999;
}
#nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3vw 5.5vw;
    position: relative;
    margin-bottom: -3vw;
}
.demo {
    position: absolute;
    top: 40%;
    left: 28%;
}
.demo h6 {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1vw;
    letter-spacing: 0.1vw;
}

#nav h1 {
    font-size: 1.8vw;
    font-family: "silk serif";
    font-weight: 500;
}

#nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.hero {
    width: 73%;
    margin-left: 28%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}
#hero1 h2::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
    top: -17%;
    left: -18%;
}

.hero:nth-child(2) {
    margin-top: 18vh;
}
.hero h2 {
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.hero h3 {
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
}

.hero h3:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

/* //! page:2 */
#page2 {
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
    position: relative;
    background-color: #151515;
}
#video-container {
    height: 66vh;
    width: 72vw;
    position: relative;
    left: 28%;
    background-image: url(./images/five.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #ffa63d;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -11%;
    left: 70%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#video-cursor i {
    font-size: 2vw;
}

/* //! page:3 */
#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    margin-bottom: 30vh;
    margin-top: 30vh;
}
#page3-content {
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
#page3-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
#page3-content h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
    top: 7%;
    left: -10%;
}
#image-div-container {
    padding: 17vh 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2vw;
}
.image-box {
    height: 42vw;
    width: 32vw;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin-top: 2.5vw;
}
.ten {
    height: 28vw;
    width: 22vw;
}
.image-header {
    font-size: 2vw;
    font-weight: 500;
    text-transform: uppercase;
}
.image-box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.image-div {
    display: block;
}
.image-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
}
.image-text p {
    font-size: 0.9vw;
    font-weight: 500;
}
.image-underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.three {
    margin-top: 15vw;
}
.four {
    margin-top: 5%;
}
.page3-circle1 {
    position: relative;
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 42vh;
    margin-left: 8vw;
}
.page3-circle1 svg {
    height: 30%;
}
.page3-circle2 {
    position: relative;
    height: 22vw;
    width: 22vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}
.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.circle-in p {
    font-size: 0.95vw;
    color: #000;
    width: 60%;
    font-weight: 500;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3;
    -o-transition-delay: 0.3;
    transition-delay: 0.3;
    opacity: 0;
}
.page3-circle1:hover .circle-in {
    scale: 1;
}
.page3-circle1:hover p {
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in {
    scale: 1;
}
.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}

/* //! page:4 */
#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 20vh;
}
#page4-content {
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
    top: 7%;
    left: -10%;
}
#page4-content .underline {
    height: 1px;
    width: 93%;
    background-color: #fff;
    margin-top: 2vw;
}
#page4-content .underline2 {
    height: 1px;
    width: 93%;
    background-color: #fff;
    margin-top: 4vw;
}
#page4-content > p {
    font-size: 2.5vw;
    width: 55%;
    margin: 4vw 0;
}
#page4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
}
#page4-flex img {
    width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1%;
}
#page4-flex p {
    width: 19%;
    font-weight: 500;
}

/* //! page:5 */
#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page5 p {
    width: 72vw;
    margin-left: 28%;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
    position: relative;
}
.elem {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: anime2;
    animation-name: anime2;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: anime2;
    animation-name: anime2;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@-webkit-keyframes anime2 {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes anime2 {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
    }
}

.elem span,
.elem2 span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

/* //! footer */
#footer {
    min-height: 120vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-left: 28vw;
    padding-top: 10vw;
}
.underline2 {
    height: 1px;
    width: 93%;
    background-color: #fff;
    margin-top: 2vw;
}
.underline3 {
    height: 1px;
    width: 93%;
    background-color: #fff;
    margin-top: 4vw;
    margin-bottom: 2.5vw;
}
#footer h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
    top: 6%;
    left: -10%;
}
#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 2.5vw;
    padding-right: 18vw;
}
.box {
    width: 29%;
}
#footer-div h6 {
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}
#footer-div h5 {
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.2vw;
}
#footer h1 svg {
    height: 5.5vw;
    width: 5.5vw;
    margin-left: 1vw;
}

/* //! extra */
._canvas_container {
    z-index: 999999999 !important;
    pointer-events: none;
}

#flag {
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -99;
    opacity: 0;
}
#hero3 {
    z-index: 999;
    position: relative;
}
.b1 {
    height: 1px;
    background-color: #fff;
    margin-top: 2vw;
}

/* //! Responsive: */
@media (max-width: 600px) {
    body {
        background-color: #151515;
    }

    /* //* loader */
    #loader:nth-child(1) {
        padding-top: 60vw;
    }
    .line {
        gap: 3vw;
    }

    #line1-part1 {
        gap: 3vw;
    }

    #line1-part1 h5,
    #line1-part1 h6 {
        font-size: 5.5vw;
    }

    #line1-part1 h5 {
        width: 7vw;
    }

    .line h1 {
        font-size: 7vw;
        font-weight: 700;
        line-height: 9vw;
    }

    .line h2 {
        font-size: 5.5vw;
    }

    /* //* navbar */
    #page1 {
        height: 60vh;
        padding-top: 0.1px;
    }
    #nav {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 0vw;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #nav h1 {
        font-size: 6vw;
    }
    .demo {
        display: none;
    }
    #nav-part2 {
        display: none;
    }

    /* //* hero */
    .hero {
        margin-left: 5%;
    }
    #hero1 h2::before {
        font-size: 5vw;
        top: -100%;
        left: 0%;
    }
    .hero:nth-child(2) {
        margin-top: 25vh;
    }
    .hero h2 {
        font-size: 10vw;
        line-height: 10.5vw;
        font-weight: 600;
    }
    .hero h3 {
        font-size: 10vw;
        line-height: 10.5vw;
        font-weight: 600;
        border-bottom: 0.6vw solid #fff;
        padding-bottom: 0.5vw;
    }

    /* //* page2: */
    #page2 {
        height: 60vh;
        margin-top: 6vh;
    }
    #video-container {
        height: 50vh;
        width: 100%;
        left: 0;
    }

    #video-cursor {
        height: 25vw;
        width: 25vw;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #video-cursor i {
        font-size: 5vw;
    }

    /* //* page3: */
    #page3 {
        min-height: 100vh;
        margin-bottom: 50vh;
        margin-top: 55vh;
    }
    #page3-content {
        width: 96.5%;
        margin-left: 5%;
    }
    #page3-content h1 {
        font-size: 9.5vw;
        font-weight: 500;
    }
    #page3-content h1::before {
        font-size: 5vw;
        top: -80%;
        left: 0;
    }
    #image-div-container {
        padding: 15vw 5vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 12vw;
    }
    .image-box {
        height: 110vw;
        width: 90vw;
        margin-top: 6vw;
    }
    .ten {
        height: 110vw;
        width: 90vw;
    }
    .image-header {
        font-size: 6vw;
    }
    .image-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }
    .image-text p {
        font-size: 4vw;
    }

    .three {
        margin-top: 0;
    }
    .four {
        margin-top: 0;
    }
    .page3-circle1 {
        display: none;
    }
    .page3-circle2 {
        display: none;
    }

    /* //* page4: */
    #page4 {
        min-height: 100vh;
        padding-top: 0vh;
        margin-top: 65vh;
    }
    #page4-content {
        width: 96.5%;
        margin-left: 5%;
    }
    #page4-content h1 {
        font-size: 9.5vw;
        font-weight: 500;
    }
    #page4-content h1::before {
        font-size: 5vw;
        top: -80%;
        left: 0;
    }
    #page4-content .underline {
        width: 100%;
        margin-top: 2vw;
    }
    #page4-content .underline2 {
        width: 100%;
        margin-top: 5vw;
    }
    #page4-content > p {
        font-size: 5.5vw;
        width: 93%;
        margin-top: 10vw;
        text-align: justify;
    }
    #page4-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 12vw;
    }
    #page4-flex img {
        width: 93%;
        margin-bottom: 5vw;
    }
    #page4-flex p {
        width: 93%;
        text-align: justify;
    }

    /* //* page5: */
    #page5 {
        min-height: 50vh;
    }
    #page5 p {
        width: 100vw;
        margin-left: 5%;
        padding-top: 6vw;
        padding-bottom: 8vw;
    }
    .elem h1 {
        font-size: 9.5vw;
        font-weight: 100;
    }
    .elem2 h1 {
        font-size: 9.5vw;
        font-weight: 100;
    }

    /* //* footer */
    #footer {
        min-height: 100vh;
        padding-left: 5vw;
        padding-top: 14vw;
    }
    .underline3 {
        width: 100%;
        margin-top: 10vw;
        margin-bottom: 8vw;
    }
    #footer h1 {
        font-size: 9.5vw;
        font-weight: 500;
    }
    #footer h1::before {
        font-size: 5vw;
        top: -80%;
        left: 0;
    }
    .b1 {
        margin-top: 7vw;
    }
    #footer-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 4vw;
        padding-right: 0vw;
    }
    .box {
        width: 60%;
    }
    #footer-div h6 {
        font-size: 4vw;
        margin-top: 8vw;
        margin-bottom: 4vw;
    }
    #footer-div h5 {
        font-size: 6vw;
        line-height: 6vw;
        font-weight: 100;
    }
    #footer-div p {
        font-size: 4vw;
        font-weight: 100;
    }
    #footer h1 svg {
        height: 7.3vw;
        width: 7.3vw;
        margin-left: 1.5vw;
    }

    /* //! extra */
    #flag {
        height: 70vw;
        top: -30%;
        left: 0;
    }
    .mousefollower {
        display: none;
    }
}
